@import url('/home/raulin/.cache/wal/colors-waybar.css');

@define-color mauve  @color5;
@define-color red  @color9;
@define-color lavender  @color6;
@define-color text  @color5;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 15px;
    background-color: alpha(@background,.85);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
    border-radius: 15px;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @color5;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,.2);
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @color5;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @color15;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @color6;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, 0.5);
    border: none;
    border-radius: 20px;
    background-color:transparent;
}
#entry:selected #text {
    color: @color5;
}
#entry:drop(active) {
    background-color: @color6 !important;
}
